#boards {
    background-color: green;
}

/* Navbar */

#navbarSupportedContent :hover {
  color: rgb(70,195,249);
}

.flashes {
    color: rgb(180, 30, 30);
    text-align: center;
    padding-top: 50px;
}


#navbar {
    font-size: large;
    font-weight:600;
    padding-bottom: 20px;
}

input[type=email], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid white;
  border-radius: 4px;
  background-color: rgb(33,37,41);
  box-sizing: border-box;
  color: white;
}


#button-form {
  border: none;
  cursor: pointer;
  width: 100%;
}

#button-form:hover {
  opacity: 0.8;
}

span.password {
  float: right;
  padding-top: 16px;
}

.modal {
  display: none;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {

  background-color: rgb(33,37,41);
  margin: 5% auto 15% auto;
  border: 3px solid rgb(70,195,249);
  width: 35%;
  top: 20%;
  color: white
}

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}


/* Design */

:root{
    --border-radius: 3px;
    --status-1: #590000;
    --status-2: #594300;
    --status-3: #525900;
    --status-4: #085900;
}

body{
    min-width: 620px;
    background: #ddd url(http://cdn.backgroundhost.com/backgrounds/subtlepatterns/diagonal-noise.png);
    font-family: sans-serif;
}

h1, .board-title, .board-column-title{
    font-weight: 100;
}

h1{
    text-align: center;
    font-size: 4em;
    letter-spacing: 5px;
    transform: scale(1.2, 1);
}

button{
    background: #222;
    color: #fff;
    border: none;
    font-size: 14px;
    font-family: sans-serif;
    padding: 4px 10px;
    border-radius: 4px;
}

#root{
    max-width: 960px;
    margin: 0 auto;
}

section.board{
    margin: 20px;
    border: aliceblue;
    background: #ffffff90;
    border-radius: 3px;
}

.board-header{
    height: 55px;
    background: #fff;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    align-items: center;
}

.board-title{
    margin: 13px;
    display: inline-block;
    font-size: 20px;
}
.board-title, .board-add, .board-toggle{
    display: inline-block;
}



.board-toggle{
    float: right;
    margin: 13px;
}

.board-columns{
    display: flex;
    flex-wrap: nowrap;
}

.board-column{
    padding: 10px;
    flex: 1;
}

.board-column-content{
    min-height: 49px;
}

.board-column-content:empty{
    /*This only works if the tag is really empty and there is not even whitespace inside*/
    border: 4px solid #cdcdcd;
    margin-top: 4px;
    border-radius: 10px;
    background: #eee;
}

.board-column-title{
    text-align: center;
}

.card{
    position: relative;
    background: #222;
    color: #fff;
    border-radius: var(--border-radius);
    margin: 4px 0;
    padding: 4px;
}

.board-column:nth-of-type(1) .card{
    background: var(--status-1);
}

.board-column:nth-of-type(2) .card{
    background: var(--status-2);
}

.board-column:nth-of-type(3) .card{
    background: var(--status-3);
}

.board-column:nth-of-type(4) .card{
    background: var(--status-4);
}

.card-remove{
    display: block;
    position: absolute;
    top: 4px;
    right: 4px;
    font-size: 12px;
    cursor: pointer;
}

.card-title{
    padding-right: 16px;
}

.boardTitle:hover,
.card:hover{
    color: rgb(70,195,249);
}

/* Second header */

#new-board {
    color: rgb(155,157,158);
    position: relative;
    left: 20%;
    display: inline-block;
}

/* ContentEditable elements */

.board-column-title,
#card-title,
.boardTitle {
    width: fit-content;
    -webkit-line-clamp: 2; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    display: -webkit-box;
}


/* buttons */

button [name = "chevron"] {
    width: 20px;
}

.title-image {
    position:absolute;
    right: 43%;
}

.btn:focus:not(:focus-visible) {
    outline: 0;
    box-shadow: none;
}

.card-buttons {
    margin: 8px;
    position:absolute;
    left: 25%;
}